<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    
<h1></h1>
<main>
    <section class="binaryDisplay">

        <p><%= data  %></p>
    
    </section>
</main>
    




<style>
    *{
        margin: 0;
        padding: 0;
    }
    main {
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
       height: 100vh;
       background-image: url(https://gifimage.net/wp-content/uploads/2017/09/binary-code-gif-5.gif);
       background-color: black !important;
    filter: blur(5);
       background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
 }
    .binaryDisplay{
        background-color: black;
        height: 200px;
        width: 500px;
        border: 3px solid green;
        text-align: center;
    }
    p {
        color: greenyellow;
        margin-top: 10px;
        font-size: 1.5rem;
    }
</style>    

</body>
</html>