<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TxCii-converter</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    
<h1></h1>
<main>



    <section class="binaryDisplay">

        <p><%= data  %></p>
    
    </section>
</main>
    




<style>
    *{
        margin: 0;
        padding: 0;
    }
    main {
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
       height: 100vh;
       background-image: url(https://gifimage.net/wp-content/uploads/2017/09/binary-code-gif-5.gif);
       background-color: black !important;
    filter: blur(5);
       background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
 }
    .binaryDisplay{
        position: absolute;
background: rgba(15, 1, 1, 0.645);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
        min-height: 200px;
        height: 500px;
        /* width: 800px; */
        max-width: 800px;
        border: 3px solid lightgreen;
        text-align: center;
        word-wrap: break-word;  
        padding: 10px;    
        line-height: 1.5;
        overflow-y: scroll;
    }
    .binaryDisplay::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.binaryDisplay::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2ae424;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
    p {
        color: greenyellow;
        margin-top: 10px;
        font-size: 1.8rem;
    }
    /* .back {
		margin:1em auto;
		font-family:"Roboto";
	}
	.back span {
        position: fixed;
		font-size:3em;
    border-radius: 50%;
		color:#F2C640;
		background:#262B37;
		display:table-cell;
		box-shadow:inset 0 0 5px rgba(0,0,0,0.3), 0 5px 0 #ccc;
		padding: 0 10px;
		line-height: 100px;
		animation:jumb 2s infinite;
	}
	@keyframes jumb {
		0% {
			transform:translateY(0px)
		}
		50% {
			transform:translateY(-180px);
			box-shadow:0 15px 0 lightgreen;
		}
		100% {
			transform:translateY(0px)	
		}
	}
	.back span:nth-child(1) {
		animation-delay:0s;
	}
	.back span:nth-child(2) {
		animation-delay:.1s;	
	}
	.back span:nth-child(3) {
		animation-delay:.2s;
	}
	.back span:nth-child(4) {
		animation-delay:.3s;	
	}
	.back span:nth-child(5) {
		animation-delay:.4s;
	}
	.back span:nth-child(6) {
		animation-delay:.5s;	
	}
	.back span:nth-child(7) {
		animation-delay:.6s;
	}
.back span:nth-child(8) {
		animation-delay:.7s;
	}
.back span:nth-child(9) {
		animation-delay:.8s;
	}
.back span:nth-child(10) {
		animation-delay:.9s;
	}
*/


    @media all and (max-width : 727px) {
        .binaryDisplay{
      width: 80vw;
    }
    } 
</style>  


<script>
    //after window is loaded completely 
    window.onload = function(){
        //hide the preloader
        document.querySelector(".preloader").style.display = "none";
    }
</script>
</body>
</html>