<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>


    
<h1></h1>
<main>
    <section class="binaryDisplay">

        <p><%= data  %></p>
    
    </section>
</main>
    




<style>
    *{
        margin: 0;
        padding: 0;
    }
    main {
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
       height: 100vh;
       background-image: url(https://gifimage.net/wp-content/uploads/2017/09/binary-code-gif-5.gif);
       background-color: black !important;
    filter: blur(5);
       background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
 }
    .binaryDisplay{
background: rgba(15, 1, 1, 0.645);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
        min-height: 200px;
        height: 500px;
        width: 800px;
        border: 3px solid lightgreen;
        text-align: center;
        word-wrap: break-word;  
        padding: 10px;    
        line-height: 1.5;
        overflow-y: scroll;
    }
    .binaryDisplay::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.binaryDisplay::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2ae424;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
    p {
        color: greenyellow;
        margin-top: 10px;
        font-size: 1.8rem;
    }
</style>    

</body>
</html>