<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <title>Document</title>
</head>
<body>

    
<h1>TxCii</h1>
<h2> Fit In With Your Robotic Friends</h2>
    
<main>
    <form action="/converttobinary" method="post">    
        <textarea name="textToConvert" id="textToConvert" cols="30" >
    
        </textarea>
        <button type="submit" class="btn btn-default">
            <i class="fa-solid fa-microchip"></i>       </button>
        
    
      </form>
</main>




  
  


    
  

    
<style>
    @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Press+Start+2P&family=Roboto&family=Russo+One&display=swap');
    
   :root {
    --neon-border-color: rgb(43, 255, 0);

   }
    * ,*::before, *::after{
        margin: 0;
        padding: 0;
    }
    h1 {
        position: relative;
        color: white;
        font-family: 'Press Start 2P', cursive;
        font-size: 6.5rem;    
        margin-top: 50px;
        animation: flicker 1.5s infinite alternate;
    }
 h2 {
    position: relative;
        color: lightgreen;
        font-family: 'Press Start 2P', cursive;
        font-size: 1rem;
        margin-top: 20px;

 }



/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
    body {
        overflow: hidden;
        text-align: center;
    }
    main {
        width: 100vw;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100px;
        height: 100px;
        border:3px solid green;
        border-radius: 50%;
        margin-top: 20%;
        color: green;
        font-size: 90px;
        background-color: transparent;
    }
    i {
        color: green;
        box-shadow: 0px 0px 5px 12px lightgreen inset;

        border-radius: 50%;
    }
   i:hover {
        color: #2ae424;
        cursor: pointer;
        box-shadow: 0px 0px 5px 12px lightgreen;
        background-color: lightgreen ;
        /* box-shadow: 0px 0px 5px 52px lightgreen inset; */
    }

    

    form {
        position: relative;
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background: linear-gradient(90deg, rgba(0,77,71,1) 0%, rgba(0,0,0,1) 46%, rgba(0,77,71,1) 100%);
        /* border: 3px solid lightgreen; */
        border-radius: 10px;
        margin-top: -100px;
    }
    textarea {
        width: 500px;
        height: 200px;
        border-radius: 10px;
        /* border: 2px solid lightgreen; */
        background-color: black;
        box-shadow: inset 0 0 12px lightgreen;

        color: aqua;
        resize: none;
        outline: none;
        font-size: 1rem;
        line-height: 1.5em;
       font-family: 'Roboto';
       scrollbar-width: thin;
    scrollbar-color: #2ae424 #f5f5f5;
    padding: 10px;
    }

    textarea::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2ae424;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
    body {
        background-image: url(https://th.bing.com/th/id/R.c8202cdf054138cf9ab1d04f652ab908?rik=CiOW2d0CL7olEQ&riu=http%3a%2f%2fpa1.narvii.com%2f6456%2f08c94babafab082ce8751dd2fcb2c09878b63447_00.gif&ehk=2sVxcvgokxrh%2fOG64kYlgBel9WdFvb2EFV%2fNCHOL20o%3d&risl=&pid=ImgRaw&r=0);

       width:  100vw;
        max-height: 100vh;
        background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
    }
    @media all and (max-width: 571px) {
        form {
width: 80vw;
    } 
    textarea {
        width: 80vw;
     
    }
    h1{
        font-size: 1.5em;
    }
    h2 {
        font-size: 10px;
    }

    }
</style>


</body>
</html>